@charset "UTF-8";
@media screen and (max-width: 1400px) {
  .index .nrone, .index .nrsix {
    width: 1400px;
  }
}

.index .nrone .swiper-container {
  width: 100%;
}

.index .nrone .my-bullet-active {
  background-color: #667aff !important;
  transition: 0.5s;
  transform: translate3d(0, -30px, 0);
}

.index .nrone .swiper-container {
  --swiper-navigation-color: #ffffff;
}

.index .nrone .swiper-container-horizontal > .swiper-pagination-bullets {
  bottom: 30px;
}

.index .nrone .swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
  background: #ffffff;
  opacity: 1;
  transition: 0.5s;
  margin: 0 8px;
}

.index .nrtwo {
  margin-top: 70px;
  text-align: center;
}

.index .nrtwo h2 {
  margin-top: 68px;
}

.index .nrtwo p {
  margin-top: 47px;
  font-size: 14px;
  font-weight: bold;
  color: #666666;
  line-height: 40px;
}

.index .nrtwo a {
  margin-top: 65px;
}

.index .nrtwo h5 {
  position: relative;
  margin-top: 70px;
  font-size: 24px;
}

.index .nrtwo h5:after {
  content: '';
  width: 0;
  height: 0;
  margin: 0 auto;
  position: absolute;
  left: 0;
  right: 0;
  top: 64px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #333333;
}

.index .nrthree h2 {
  margin-top: 70px;
  font-size: 36px;
  line-height: 72px;
}

.index .nrthree .box {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}

.index .nrthree .box a {
  transition: .5s;
  position: relative;
  text-align: center;
  width: 348px;
  height: 288px;
  background-color: #EAEAEA;
}

.index .nrthree .box a h4 {
  margin-top: 40px;
}

.index .nrthree .box a span {
  transition: .5s;
  display: block;
  width: 70px;
  height: 70px;
  margin: 44px auto 0;
}

.index .nrthree .box a .text {
  position: absolute;
  bottom: 20px;
  margin: 0 27px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.index .nrthree .box a .text p {
  text-align: left;
  color: #666666;
  display: inline-block;
  width: calc((100% - 54px) / 2);
  line-height: 35px;
}

.index .nrthree .box a:first-child {
  border-radius: 20px 0 0 20px;
}

.index .nrthree .box a:last-child {
  border-radius: 0 20px 20px 0;
}

.index .nrthree .box .ppwz span {
  background: url("../img/ppwz.png") no-repeat;
}

.index .nrthree .box .box1a {
  background: url("../img/ppwzactive.png") no-repeat !important;
}

.index .nrthree .box .wxxcx span {
  background: url("../img/wxxcx.png") no-repeat;
}

.index .nrthree .box .box2a {
  background: url("../img/wxxcxactive.png") no-repeat !important;
}

.index .nrthree .box .gzh span {
  background: url("../img/gzh.png") no-repeat;
}

.index .nrthree .box .box3a {
  background: url("../img/gzhactive.png") no-repeat !important;
}

.index .nrthree .box .wlyx span {
  background: url("../img/wlyx.png") no-repeat;
}

.index .nrthree .box .box4a {
  background: url("../img/wlyxactive.png") no-repeat !important;
}

.index .nrthree .box .active {
  transition: .5s;
  background-color: #667aff;
}

.index .nrthree .box .active h4, .index .nrthree .box .active .text > p {
  color: #ffffff;
}

.index .nrfour .title, .index .nrfour .lunbobutton {
  margin: 0 auto;
  width: 1400px;
}

.index .nrfour .lunbobutton {
  margin-top: 45px;
  width: 1400px;
}

.index .nrfour .lunbobutton .botton {
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.index .nrfour .lunbobutton .botton a {
  width: 84px;
  height: 30px;
  line-height: 30px;
  font-size: 16px;
  font-weight: bold;
  color: #666666;
  background: rgba(255, 255, 255, 0);
  transition: .5s;
}

.index .nrfour .lunbobutton .botton .active {
  color: #667aff;
  background: url("../img/blisterbg.png") no-repeat bottom;
  animation: mymove 1s infinite;
  animation-iteration-count: 1;
}

@keyframes mymove {
  0% {
    background-position: 0 50px;
  }
  100% {
    background-position: 0 0;
  }
}

.index .nrfour .lunbo {
  position: relative;
  margin: 44px auto 0;
  height: 1009px;
  background: url(../img/lunbobg.png) center center no-repeat;
}

.index .nrfour .lunbo > div {
  display: none;
  position: relative;
  top: 53px;
  margin: auto;
  width: 1318px;
  height: 831px;
  overflow: hidden;
}

.index .nrfour .lunbo > div img {
  position: absolute;
  left: 0;
  right: 0;
}

.index .nrfour .lunbo > div #top {
  width: 100%;
  height: 25%;
  position: absolute;
  left: 0;
  /* 顶部对齐 */
  top: 0;
}

.index .nrfour .lunbo > div #bottom {
  width: 100%;
  height: 25%;
  position: absolute;
  left: 0;
  /* 底部对齐 */
  bottom: 0;
}

.index .nrfour .lunbo .active {
  display: block;
}

@media screen and (max-width: 1400px) {
  .index .nrfour .lunbo {
    width: 1400px;
  }
}

.index .nrfour .more {
  width: 1400px;
  margin: 102px auto 0;
  text-align: center;
}

.index .nrfive {
  margin-top: 136px;
}

.index .nrfive h3 {
  margin-top: 10px;
  font-size: 24px;
  line-height: 36px;
  color: #666666;
}

.index .nrfive .lunbo {
  margin-top: 73px;
}

.index .nrfive .lunbo .thumbs .swiper-wrapper {
  text-align: center;
  display: flex;
  justify-content: space-between;
}

.index .nrfive .lunbo .thumbs .swiper-wrapper .swiper-slide {
  width: 123px !important;
  margin-right: 0 !important;
}

.index .nrfive .lunbo .thumbs .swiper-wrapper .swiper-slide a {
  text-align: center;
}

.index .nrfive .lunbo .thumbs .swiper-wrapper .swiper-slide a h4 {
  color: #666666;
  font-weight: normal;
}

.index .nrfive .lunbo .thumbs .swiper-wrapper .swiper-slide a > span {
  position: relative;
  margin: 8px 13px 10px 0;
  width: 110px;
  height: 129px;
  display: inline-block;
  background: #ffffff;
  border-radius: 0 45px 45px 45px;
  box-shadow: 0 8px 4px #EAEAEA;
}

.index .nrfive .lunbo .thumbs .swiper-wrapper .swiper-slide a > span span {
  position: absolute;
  left: 30px;
  top: 0;
  bottom: 0;
  margin: auto;
  display: block;
  width: 50px;
  height: 50px;
}

.index .nrfive .lunbo .thumbs .swiper-wrapper .swiper-slide a .chdy span {
  background: url(../img/1.png) center center no-repeat;
}

.index .nrfive .lunbo .thumbs .swiper-wrapper .swiper-slide a .chdy .button1a {
  background: url(../img/1a.png) center center no-repeat;
}

.index .nrfive .lunbo .thumbs .swiper-wrapper .swiper-slide a .xqfx span {
  background: url(../img/2.png) center center no-repeat;
}

.index .nrfive .lunbo .thumbs .swiper-wrapper .swiper-slide a .xqfx .button2a {
  background: url(../img/2a.png) center center no-repeat;
}

.index .nrfive .lunbo .thumbs .swiper-wrapper .swiper-slide a .yxtbj span {
  background: url(../img/3.png) center center no-repeat;
}

.index .nrfive .lunbo .thumbs .swiper-wrapper .swiper-slide a .yxtbj .button3a {
  background: url(../img/3a.png) center center no-repeat;
}

.index .nrfive .lunbo .thumbs .swiper-wrapper .swiper-slide a .jmyh span {
  background: url(../img/4.png) center center no-repeat;
}

.index .nrfive .lunbo .thumbs .swiper-wrapper .swiper-slide a .jmyh .button4a {
  background: url(../img/4a.png) center center no-repeat;
}

.index .nrfive .lunbo .thumbs .swiper-wrapper .swiper-slide a .cxkf span {
  background: url(../img/5.png) center center no-repeat;
}

.index .nrfive .lunbo .thumbs .swiper-wrapper .swiper-slide a .cxkf .button5a {
  background: url(../img/5a.png) center center no-repeat;
}

.index .nrfive .lunbo .thumbs .swiper-wrapper .swiper-slide a .sxsh span {
  background: url(../img/6.png) center center no-repeat;
}

.index .nrfive .lunbo .thumbs .swiper-wrapper .swiper-slide a .sxsh .button6a {
  background: url(../img/6a.png) center center no-repeat;
}

.index .nrfive .lunbo .thumbs .swiper-wrapper .swiper-slide-thumb-active a > h4 {
  color: #667aff;
  font-weight: bold;
}

.index .nrfive .lunbo .thumbs .swiper-wrapper .swiper-slide-thumb-active a > span {
  margin: 3px auto 10px;
  width: 123px;
  height: 133px;
  border-radius: 0;
  background: url(../img/blisterkuang.png);
  box-shadow: none;
}

.index .nrfive .lunbo .gallery .swiper-button-prev:after {
  content: '';
  width: 27px;
  height: 54px;
  background: url("../img/prev.png");
}

.index .nrfive .lunbo .gallery .swiper-button-next:after {
  content: '';
  width: 27px;
  height: 54px;
  background: url("../img/next.png");
}

.index .nrfive .lunbo .gallery .swiper-slide {
  position: relative;
  margin-top: 40px;
}

.index .nrfive .lunbo .gallery .swiper-slide .text {
  position: relative;
  top: -135px;
  margin: 0 59px 0 85px;
  width: 392px;
  display: inline-block;
}

.index .nrfive .lunbo .gallery .swiper-slide h4 {
  font-size: 24px;
  color: #666666;
}

.index .nrfive .lunbo .gallery .swiper-slide h6 {
  font-size: 14px;
  margin-top: 8px;
  color: #666666;
}

.index .nrfive .lunbo .gallery .swiper-slide p {
  margin-top: 18px;
  color: #666666;
}

.index .nrsix {
  background: url("../img/youshibg.png") center center no-repeat;
  height: 997px;
}

.index .nrsix .nrs {
  position: relative;
  width: 1400px;
  margin: 0 auto;
}

.index .nrsix .nrs h2 {
  padding-top: 52px;
  color: #ffffff;
  font-size: 36px;
}

.index .nrsix .nrs h3 {
  margin-top: 20px;
  line-height: 36px;
  width: 529px;
  color: #7A7E95;
  font-size: 24px;
}

.index .nrsix .nrs .xuanzhuan {
  position: absolute;
  top: 73px;
  right: 0;
  width: 435px;
  height: 270px;
  background: url("../img/xuanzhuanbg.png") center center no-repeat;
}

.index .nrsix .nrs .xuanzhuan .turnbox {
  position: relative;
  width: 270px;
  height: 270px;
}

.index .nrsix .nrs .xuanzhuan .turnbox .turn {
  position: absolute;
  bottom: 0;
  width: 270px;
  height: 135px;
  background: url("../img/turn.png") 87% 0% no-repeat;
}

.index .nrsix .nrs .xuanzhuan .turnbox .animation {
  animation: rotateIn 3s ease 0s infinite both;
}

@keyframes rotateIn {
  0% {
    -webkit-transform-origin: top center;
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform-origin: top center;
    -webkit-transform: rotate(-360deg);
  }
}

.index .nrsix .nrs .xuanzhuan .turnbox .dian {
  font-size: 14px;
  position: absolute;
  color: #CAD1FF;
}

.index .nrsix .nrs .xuanzhuan .turnbox .other {
  position: absolute;
  top: 42px;
  left: 214px;
}

.index .nrsix .nrs .xuanzhuan .turnbox .other img {
  position: absolute;
  top: 5px;
  left: -25px;
}

.index .nrsix .nrs .xuanzhuan .turnbox .or {
  position: absolute;
  top: 68px;
  left: -37px;
}

.index .nrsix .nrs .xuanzhuan .turnbox .or img {
  position: absolute;
  top: 5px;
  left: 38px;
}

.index .nrsix .nrs .xuanzhuan .turnbox .clothing {
  position: absolute;
  top: 188px;
  left: 23px;
}

.index .nrsix .nrs .xuanzhuan .turnbox .clothing img {
  position: absolute;
  top: -25px;
  left: 10px;
}

.index .nrsix .nrs .xuanzhuan .turnbox .education {
  position: absolute;
  top: 272px;
  left: 174px;
}

.index .nrsix .nrs .xuanzhuan .turnbox .education img {
  position: absolute;
  top: -17px;
  left: -25px;
}
