* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  font-family: 'MicrosoftYaHei';
  list-style: none;
}

h2, h3, h4, h5, h6 {
  color: #333333;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 16px;
}

p {
  font-size: 14px;
}

body {
  width: 100%;
}

body header, body .nrtwo, body .nrthree, body .nrfive {
  width: 1400px;
  margin: 0 auto;
}

body .nrtwo, body .nrthree, body .nrfour, body .nrfive, body .nrsix {
  margin-top: 114px;
}

body .nrtwo .title, body .nrthree .title, body .nrfour .title, body .nrfive .title, body .nrsix .title {
  text-align: center;
}

body .nrtwo .title h3, body .nrthree .title h3, body .nrfour .title h3, body .nrfive .title h3, body .nrsix .title h3 {
  color: #333333;
}

body .nrtwo .title h4, body .nrthree .title h4, body .nrfour .title h4, body .nrfive .title h4, body .nrsix .title h4 {
  color: #666666;
}

body header {
  z-index: 9;
  position: fixed;
  width: 100%;
  height: 88px;
  left: 0;
  right: 0;
  transition: 0.5s;
}

body header .nav {
  width: 1400px;
  margin: 0 auto;
}

body header .nav h4 {
  margin: 20px 0 8px;
  display: inline-block;
  font-size: 48px;
  color: #667aff;
}

body header .nav > ul {
  display: flex;
  justify-content: space-between;
  float: right;
  width: 834px;
}

body header .nav > ul .active {
  position: relative;
  text-align: center;
}

body header .nav > ul .active > a {
  box-sizing: border-box;
  border-bottom: 4px solid #667aff;
  color: #667aff;
}

body header .nav > ul > li {
  box-sizing: border-box;
  position: relative;
  text-align: center;
  width: 114px;
  height: 88px;
}

body header .nav > ul > li a {
  display: inline-block;
  font-weight: bold;
  font-size: 16px;
  height: 88px;
  line-height: 88px;
  color: #666666;
}

body header .nav > ul > li > ul {
  visibility: hidden;
  border-radius: 10px;
  background: rgba(50, 50, 50, 0.8);
  position: absolute;
  z-index: 9;
  opacity: 0;
  transition: visibility 0.5s, opacity 0.5s;
}

body header .nav > ul > li > ul > li {
  display: inline-block;
  width: 114px;
}

body header .nav > ul > li > ul > li a {
  color: #ffffff;
  line-height: 40px;
  height: 40px;
}

body header .nav > ul > li:hover > a {
  box-sizing: border-box;
  border-bottom: 4px solid #667aff;
  color: #667aff;
}

body header .nav > ul .form:hover {
  border-bottom: none;
}

body header .nav > ul > li:hover > ul {
  visibility: visible;
  opacity: 1;
}

body header .nav > ul > li:hover > ul > li:hover {
  background: #667aff;
}

body header .nav > ul > li:hover > ul > li:first-child:hover {
  border-radius: 10px 10px 0 0;
}

body header .nav > ul > li:hover > ul > li:last-child:hover {
  border-radius: 0 0 10px 10px;
}

body .button {
  display: inline-block;
  background-color: #667aff;
  border-radius: 50px;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  padding: 25px 72px;
}

body .timereadauthor {
  padding-bottom: 39px;
  border-bottom: 1px solid #333333;
  margin-bottom: 54px;
}

body .timereadauthor span {
  margin-right: 20px;
  color: #999;
  font-size: 12px;
}

body .dh {
  font-size: 12px;
  font-weight: bold;
}

body .dh a {
  color: #333333;
}

body .dh span {
  margin: 0 8px;
}

body .product {
  height: 60px;
}

body .product .botton {
  width: 800px;
  display: flex;
  position: relative;
}

body .product .botton a {
  cursor: pointer;
  margin-right: 80px;
  display: inline-block;
  font-weight: bold;
  font-size: 14px;
  padding: 20px 0;
  color: #666666;
}

body .product .botton .active {
  color: #333333;
  border-bottom: 2px solid #2F2B27;
}

body .lunbo > div {
  display: block;
  transition: 0.5s;
}

body .fenye {
  display: flex;
  justify-content: center;
}

body .fenye li {
  margin: 0 15px;
}

body .fenye li a {
  display: inline-block;
  font-size: 16px;
  box-sizing: border-box;
  border: 1px solid #656565;
  color: #656565;
  text-align: center;
  width: 22px;
  height: 22px;
  line-height: 22px;
}

body .fenye .active {
  color: #fff;
  background: #FF8616;
  border: none;
  transition: 0.5s;
}

body .fenye li:nth-child(2) a, body .fenye li:nth-last-child(2) a {
  border: none;
}

body .fenye li:first-child a, body .fenye li:last-child a {
  border: none;
  font-size: 14px;
  width: 30px;
}

body footer {
  margin-top: 120px;
}

body footer a {
  color: #CFD0D0;
  display: block;
  font-size: 12px;
}

body footer span {
  border-right: 1px solid #fff;
}

body footer .up {
  padding-top: 85px;
  background: #4A4D4E;
  padding-bottom: 65px;
}

body footer .up > div {
  width: 1200px;
  margin: 0 auto;
}

body footer .up > div > div {
  display: flex;
}

body footer .up > div > div > div {
  text-align: left;
}

body footer .up > div > div > div h4 {
  color: #fff;
  font-size: 20px;
}

body footer .up > div > div > div a {
  margin-top: 25px;
}

body footer .up > div > div span {
  border-width: 2px;
  height: 65px;
}

body footer .up > div .upup {
  justify-content: space-between;
}

body footer .up > div .updown {
  margin-top: 50px;
  color: #CFD0D0;
}

body footer .up > div .updown h4 {
  margin-right: 30px;
}

body footer .up > div .frienda {
  margin-top: 15px;
}

body footer .up > div .frienda a {
  margin-right: 6px;
}

body footer .down {
  text-align: center;
  background: #1B1D1E;
  padding-bottom: 35px;
}

body footer .down .downlj {
  padding-top: 25px;
  display: flex;
  justify-content: center;
}

body footer .down .downlj span {
  height: 10px;
  margin: 3px 5px;
}

body footer .down h6 {
  margin-top: 15px;
  font-size: 12px;
  font-weight: normal;
  color: #CFD0D0;
}
